.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  .encabezado{
    background: #273746
  }

  .example-full-width {
    width: 80%;
  }
  
  table {
    width: 70%;
    margin: 0 auto;
  }

  .buttons{
    margin: 0 auto; 
    width: 300px;
    padding: 25px 0;
    text-align: center
  }
  
  .a{
    margin: 5px
  }