.form {
    max-width: auto;
    align-self: auto;
    text-align: center;
  }
  table {
    width: 40%;
    margin-left: 30%

  }
  .button{
    margin-left: 30%
  }
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
