<form>
    <mat-card id="arriba">BANCO DE PRUEBA BYTE</mat-card>
    <h1>Mantenimiento a Canales de Venta</h1>
    <h2>ALTAS</h2>
  

    <h4>codigo</h4>
    <mat-checkbox ></mat-checkbox>
    <mat-form-field id="producto1">
  
      <input matInput id="producto">
    </mat-form-field>

  <h4>Descripcion</h4>
  <mat-checkbox></mat-checkbox>
  <mat-form-field id="producto1">

    <input matInput id="producto">
  </mat-form-field>

  <h4>PGM de Datos Adic</h4>
  <mat-checkbox id="check2"></mat-checkbox>

  <h4>Archivos de Datos Adic</h4>
  <mat-checkbox id="check"></mat-checkbox>
  
  <br>
  <br>

  
<button mat-button (click)="onNoClick()">No Thanks</button>
<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
<br>
<div id="iconos3">

  <button mat-icon-button>
    <mat-icon id="back">arrow_back</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon id="door">meeting_room</mat-icon>
  </button >
  <button mat-icon-button>
    <mat-icon id="arrow_left">subdirectory_arrow_left</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon id="add" title="Registrar">check</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon id="table2">help</mat-icon>
  </button>
  


</div>
</form>


