<div class="imagen">
    <img mat-card-image src="http://www.bytesw.com/sites/default/files/acercadebyte1.png" alt="">
</div>
<div style="margin-left: 10px">
    <p class="somos">
        Somos una empresa que provee soluciones de software de clase mundial. Aseguramos<br> 
        nuestro firme compromiso con los clientes, colaboradores y accionistas, buscando<br> 
        constantemente los más altos estándares de calidad; producto de la innovación y<br> 
        madurez en nuestros procesos y productos.
    </p>                  
</div>    


  

