.imagen{
  height: auto;
  width: auto;
}

.imagen img{
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

.somos{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px
}