.barra-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
table {
  width: 100%;
}

.mat-elevation-z8{
  width: 80%;
  margin:0 auto;
}

.buttons{
margin: 0 auto; 
text-align: center;

}

.buttons button{
color: white;
background:#5F6A6A;
margin-left: 25px;
}

.mat-radio-button ~ .mat-radio-button {
margin-left: 16px;
}

.sidenav {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.no {
display:none;
}
.si {
display:block;
}
