<form>
  <mat-form-field >
      <mat-card id="arriba">BANCO DE PRUEBA BYTE</mat-card>
      <h1>Medios de Contacto</h1>
      <h2>ALTAS</h2>
    </mat-form-field>

    <h4>Codigo </h4>
    <input id="Check1">
    
    <br>
    <br>


    <h4>Descripcion</h4>
    <mat-form-field >
      <input matInput placeholder="Descripcion categoria">
    </mat-form-field>
    <br>
    <br>

    
<button mat-button (click)="onNoClick()">No Thanks</button>
<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
<br>
<div id="iconos3">

    <button mat-icon-button>
      <mat-icon id="back">arrow_back</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon id="door">meeting_room</mat-icon>
    </button >
    <button mat-icon-button>
      <mat-icon id="arrow_left">subdirectory_arrow_left</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon id="add" title="Registrar">check</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon id="table2">help</mat-icon>
    </button>
    


  </div>
</form>


