  <div>
    <mat-card>MANTENIMIENTO A MEDIOS CONTACTO</mat-card>
    <div>
      <h5 id="Titulo"></h5>
    </div>
    
    <div class="division1">
      <mat-form-field appearance="outline" class="InputRA" >
        <select matNativeControl required>
            <option value="volvo">tipo Producto1</option>
            <option value="saab">tipo Producto2</option>
            <option value="saab">tipo Producto3</option>
            <option value="saab">tipo Producto4</option>
          </select>
          <mat-icon  matSuffix>search</mat-icon>
          </mat-form-field>


    </div>


    
    <br>
    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>


    <mat-spinner class="capa1" *ngIf="mostrar"></mat-spinner>



    <div id="iconos2">      
      <button mat-icon-button style="color:white; background: #5F6A6A " class="a"  (click)="openDialog()">
        <mat-icon>note_add</mat-icon>
    </button>
    <button mat-icon-button style="color:white; background: #5F6A6A " class="a" (click)="openDialogEliminar()">
        <mat-icon>delete_sweep</mat-icon>
    </button>
    </div>



  </div>