<form>

        <mat-card id="arriba">BANCO DE PRUEBA BYTE</mat-card>
    
        <h1 id="Titulo">Mantenimiento A Usuarios Para Autorizaciones</h1>
        
        <br>
        <h3>ALTAS</h3>
      
        <div class="DivInput">
  
      
      <ul>
            <h4>Usuario </h4>
          <ol>
              <mat-checkbox></mat-checkbox>
      <mat-form-field class="InputR" >
            <input class="InputF" matInput >
          </mat-form-field>
        </ol>
        <h4>Categoria </h4>
        <ol>
            <mat-checkbox></mat-checkbox>
      <mat-form-field class="InputR" >
            <input class="InputF" matInput >
          </mat-form-field>
        </ol>
        <h4>Agencia Asignada</h4>
        <ol>
            <mat-checkbox></mat-checkbox>
      <mat-form-field class="InputR" >
            <input class="InputF" matInput >
          </mat-form-field>
        </ol>
        <h4>Todas Las Agencias</h4>
        <ol>
            
                  <input class="InputL" > <h4 class="S">(S/N)</h4>
              </ol>
              <h4>Asesor De Prestamos</h4>
              <ol>
                    
                  <mat-checkbox></mat-checkbox>
                <mat-form-field class="InputR" >
                      <input class="InputF" matInput >
                    </mat-form-field>
                  </ol>
    </ul>
    </div>
      
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  <br>
  <div id="iconos3">
  
      <button mat-icon-button>
        <mat-icon id="back">arrow_back</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon id="door">meeting_room</mat-icon>
      </button >
      <button mat-icon-button>
        <mat-icon id="arrow_left">subdirectory_arrow_left</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon id="add" title="Registrar">check</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon id="table2">help</mat-icon>
      </button>
      
      
  
  
    </div>
  </form>
  
  
  