<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <mat-toolbar class="encabezado" color="primary">Editar Montos por Plazo</mat-toolbar>
        <form>
        <br>
        <br>
            <div>
                <mat-form-field class="example-full-width">
                    <input color="primary" matInput placeholder="Codigo">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input color="primary" matInput placeholder="Valor Máximon">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                        <input color="primary" matInput placeholder="Valor Mínimo">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                        <input color="primary" matInput placeholder="Plazo">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                        <input color="primary" matInput placeholder="Tasa">
                </mat-form-field>
            </div>
        </form>       
        <br>
        <div class="opciones">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">PARTICULAR</mat-radio-button>
                <mat-radio-button value="2">CUPOS</mat-radio-button>
                <mat-radio-button value="3">FLAT</mat-radio-button><br><br>
                <mat-radio-button value="4">EUROS</mat-radio-button>
                <mat-radio-button value="5">NO GRACIAS</mat-radio-button><br>
            </mat-radio-group>      
        </div>
        <br>    
        <mat-divider> </mat-divider>
        <div mat-dialog-actions>
            <button mat-button color="primary" (click)="onNoClick()">Cancelar</button>
            <button mat-button color="primary" [mat-dialog-close]="data.estatus" cdkFocusInitial>Editar</button>
        </div>
    </body> 
</html>