<form id="form1">

  <mat-card id="arriba">BANCO DE PRUEBA BYTE</mat-card>
    <h1>Mante a Parametros de Transaccion</h1>
  
    <h4>Producto</h4>
    <mat-checkbox id="Check1"></mat-checkbox>
    <mat-form-field id="producto1">
  
      <input matInput id="producto">
    </mat-form-field>
  
    <h4>Codigo Moneda</h4>
    <mat-checkbox id="Check"></mat-checkbox>
    <mat-form-field id="producto1">
  
      <input matInput id="producto">
    </mat-form-field>
  
    <h4>Trans Equivalente</h4>
  
    <mat-form-field id="producto1">
  
      <input matInput id="producto">
    </mat-form-field>
  
    <h4>Descripcion</h4>
  
    <mat-form-field id="producto1">
      <input matInput id="producto">
    </mat-form-field>
  
    <h4>Codigo Transaccion</h4>
    <mat-checkbox id="Check2"></mat-checkbox>
    <mat-form-field id="producto1">
  
      <input matInput id="producto">
    </mat-form-field>
  
    <h4>Codigo Motivo</h4>
    <mat-checkbox id="Check3"></mat-checkbox>
    <mat-form-field id="producto1">
  
      <input matInput id="producto">
    </mat-form-field>
    <br>
    <br>
  
  
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>

    <div id="iconos3">

        <button mat-icon-button>
          <mat-icon id="back">arrow_back</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon id="door">meeting_room</mat-icon>
        </button >
        <button mat-icon-button>
          <mat-icon id="arrow_left">subdirectory_arrow_left</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon id="add" title="Registrar">check</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon id="table2">help</mat-icon>
        </button>
        
  
  
      </div>
  </form>