.barra-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  
  .example-full-width {
    width: 100%;
  }
  table {
    width: 100%;
  }

  .mat-elevation-z8{
    width: 80%;
    margin:0 auto;
  }

.buttons{
  margin: 0 auto; 
  width: 245px;
  padding: 25px 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.no {
display:none;
}
.si {
display:block;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.encabezado{
  background: #273746
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center
}

.buttons{
  margin: 0 auto; 
  width: 300px;
  padding: 25px 0;
  text-align: center
}

.a{
  margin: 5px; 
}