<mat-toolbar color="primary" class="encabezado">Actualizar Lugar de Inversion</mat-toolbar>
<br>
<form class="example-form">
    <div mat-dialog-content>  
        <mat-form-field>
            <input matInput placeholder="Codigo">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Descripcion">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Equivalente">
        </mat-form-field>
      </div>
  </form>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="onNoClick()">Cancelar</button>
    <button mat-button color="primary" [mat-dialog-close]="data.estatus" cdkFocusInitial>Editar</button>
  </div>